$colorDark: #252627
$colorLight: #fff
$colorPrimary: #22A7F0
$colorSecondary: #F62459
$colorDarkVersion: #222
$colorLightVersion: #EAEAEA

$widthMenu: 65px

@import url('https://fonts.googleapis.com/css?family=Arvo')

@font-face
    font-family: 'La Belle Aurore'
    src: url(./../fonts/La_Belle_Aurore.ttf)

@font-face
    font-family: 'Uni Sans'
    src: url(./../fonts/Uni_Sans_Heavy.otf)

*
    box-sizing: border-box

html, body
    height: 100%

body
    margin: 0
    padding: 0
    background: $colorLight
    font-family: 'Arvo', serif
    margin-left: $widthMenu

    .container
        width: 1200px
        margin: 0 auto
        display: flex

    div[class^="col-"], div[class*=" col-"]
        float: left

    .col-3
        width: 25%
        padding: 5px

    .col-5
        width: 41.666667%

    .col-6
        width: 50%
    
    .col-7
        width: 58.3333333%

    .col-12
        width: 100%
    
    .tip
        font-family: 'La Belle Aurore'
        font-size: 13px
    
    .title
        margin: 0
        font-size: 30px
        font-family: 'Arvo', serif
        color: $colorLightVersion
    
    .titleDark
        font-size: 30px
        font-family: 'Arvo', serif
        color: $colorDarkVersion
        margin: 10px 0 12px
    
    .text
        margin: 15px 0
        font-size: 17px
        font-family: sans-serif 
        color: $colorLightVersion

    nav
        position: fixed
        width: $widthMenu
        height: 100%
        background: $colorDarkVersion
        top: 0
        left: 0
        font-family: Arial, Helvetica, sans-serif
        display: flex
        flex-direction: column

        button
            display: none
            background: #dcdcdc
            border: none
            padding: 14px
            color: $colorLight
            position: absolute
            right: 5px
            top: 8px
            border-radius: 5px
            cursor: pointer
            outline: none

        .logo
            display: block
            font-size: 30px
            text-align: center
            padding: 8px 0
            text-decoration: none
            color: $colorSecondary
            background: #151515
            font-family: 'Arvo'

            span
                font-size: 11px
                display: inline-block

        .menu-items
            list-style: none
            margin: 0
            padding: 0
            text-align: center
            display: block
            margin: auto 0

            li
                margin: 15px 0

                a
                    color: $colorSecondary
                    text-decoration: none
                    font-size: 14px
                    display: inline-block
                    width: 100%

                    span
                        display: block
                        padding: 5px 0

                    &:hover
                        color: $colorPrimary

        .menu-social
            list-style: none
            margin: 0
            padding: 0
            text-align: center
            display: block

            li
                margin: 15px 0

                a
                    color: $colorSecondary
                    text-decoration: none
                    font-size: 14px
                    display: inline-block
                    width: 100%

                    span
                        display: block

                    &:hover
                        color: $colorPrimary

    .page
        width: 100%
        height: 100%

        .present
            color: #000
            background: $colorLight
            width: 100%
            min-height: 100%
            display: flex

            .text-present
                margin: 0
                font-size: 65px
                padding: 30px 10px
                position: relative
                top: 50%
                transform: translateY(-50%)

            .my-name
                color: $colorPrimary

            .back-end-text
                background: #000
                color: $colorLight
                border-radius: 3px
                cursor: pointer
                transition: all .1s
                padding: 2px
                -webkit-animation: pulsate 3s ease-out infinite

                &::after
                    font-family: 'La Belle Aurore'
                    font-size: 16px
                    color: #666
                    content: 'Hover it!'
                    position: absolute
                    margin-left: 6px
                    background: url(./../../img/arrow.png) no-repeat
                    background-size: 100% 65%
                    height: 80px
                    background-position: 0 18px
                    pointer-events: none

            .globe
                position: relative
                top: 50%
                transform: translateY(-50%)
                display: block

            .terminal
                position: relative
                top: 50%
                transform: translateY(-50%)
                display: none
                margin: 0 10px

                .top
                    background: #4a4842
                    color: $colorLight
                    font-size: 16px
                    text-align: center
                    padding: 6px
                    font-weight: bold
                    border-radius: 5px 5px 0 0
                .body
                    background: #2e0d22
                    color: $colorLight
                    font-size: 17px
                    overflow-y: scroll
                    width: 100%
                    height: 400px

                    .linux-command
                        color: #fff

                        .user
                            color: #7cdd33
                            font-weight: bold

                        .separator
                            color: #6a93c7
                            font-weight: bold

                    .writing
                        word-spacing: 6px
                        word-break: break-all

                        &::after
                            content: 'a'
                            background: #fff
                            color: transparent
                            animation: background-fade 1s infinite

                    &::-webkit-scrollbar
                        width: 5px
                    &::-webkit-scrollbar-track
                        -webkit-border-radius: 1px
                        border-radius: 1px
                    &::-webkit-scrollbar-thumb
                        -webkit-border-radius: 10px
                        border-radius: 1px
                        background: #c9603f
                    &::-webkit-scrollbar-thumb:window-inactive
                        background: #c9603f

        .about
            background: $colorPrimary
            padding: 20px
            width: 100%
            display: flex

        .projects
            display: flex
            padding: 20px
            .container
                display: block
            .separate-project
                width: 100%
                .project
                    display: inline-block
                    text-align: left
                    width: 100%
                    height: 300px
                    opacity: .99
                    overflow: hidden
                    position: relative
                    border-radius: 3px
                    cursor: default
                    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05)
                    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05)

                    &:not(:first-child)
                        display: none

                    img
                        display: block
                        height: 100%
                        backface-visibility: hidden
                        -webkit-backface-visibility: hidden
                        transition: all .6s ease
                        -moz-transition: all .6s ease
                        -ms-transition: all .6s ease
                        -webkit-transition: all .6s ease
                        -o-transition: all .6s ease
                        margin: auto
                    .details
                        font-size: 16px
                        padding: 20px
                        color: $colorLightVersion
                        width: 100%
                        position: absolute
                        bottom: 0
                        left: 0
                        z-index: 3
                        background: $colorPrimary
                        transform: translateY(100%)
                        -webkit-transition: all 0.2s ease-out
                        -moz-transition: all 0.2s ease-out
                        -o-transition: all 0.2s ease-out
                        transition: all 0.2s ease-out
                            
                        span
                            display: block
                            &.title
                                line-height: 1
                                font-weight: 600
                                font-size: 18px
                                color: $colorLightVersion
                            &.info
                                line-height: 1.2
                                margin-top: 5px
                                font-size: 12px
                                float: right

                                button
                                    background: none
                                    border: none
                                    cursor: pointer
                                    color: $colorLightVersion
                                    outline: none
                                    font-size: 18px

                    &:hover
                        .details
                            transform: translateY(0)
                        img
                            transform: scale(1.1)
                            -moz-transform: scale(1.1)
                            -webkit-transform: scale(1.1)
                            -o-transform: scale(1.1)
                            -ms-transform: scale(1.1)
                            /* IE 9 */
                            -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.1, M12=0, M21=0, M22=1.1, SizingMethod='auto expand')"
                            /* IE8 */
                            filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.1, M12=0, M21=0, M22=1.1, SizingMethod='auto expand')
                            /* IE6 and 7 */

    
    &.dark
        .title
            color: $colorDarkVersion
        .titleDark
            color: $colorLightVersion
        
        .text
            margin: 15px 0
            font-size: 17px
            font-family: sans-serif 
            color: $colorDarkVersion
        
        nav
            background: $colorLightVersion

            .logo
                background: #DDD
                color: $colorPrimary
            
            .menu-items
                li
                    a
                        color: $colorPrimary
                        &:hover
                            color: $colorSecondary
            .menu-social
                li
                    a
                        color: $colorPrimary
                        &:hover
                            color: $colorSecondary
        
        .page
            .present
                background: $colorDark
                color: $colorLight

                .my-name
                    color: $colorSecondary

                .back-end-text
                    background: $colorLight
                    color: #000
                    -webkit-animation: none

                    &::after
                        content: 'Click to stay'
                    

                    &.clicked
                        &::after
                            content: 'Click to leave'
                .terminal
                    display: block
                .globe
                    display: none
            
            .about
                background: $colorSecondary

            .projects
                background: $colorDark
                .separate-project
                    .project
                        .details
                            color: $colorDarkVersion
                            background: $colorSecondary
                                
                            span
                                &.title
                                    color: $colorDarkVersion
                                &.info
                                    button
                                        color: $colorDarkVersion
            
@-webkit-keyframes pulsate
    0%
        opacity: 0.7
    50%
        opacity: 1.0
    100%
        opacity: 0.7

@keyframes background-fade
    0%
        background: transparent
    59.9%
        background: transparent
    60%
        background: #fff
    100%
        background: #fff

@media only screen and (max-width: 1200px)
    body
        .container
            width: 100%

@media only screen and (max-width: 992px)
    body,
    html
        height: auto
    body
        margin-left: 0
        margin-top: 59px

        .col-3,
        .col-5,
        .col-6,
        .col-7
            width: 100%

        nav
            width: 100%
            height: auto
            z-index: 9
            flex-direction: row

            .logo
                padding: 4px

                span
                    display: block

            .menu-items
                display: inline-block
                margin: 0 auto

                li
                    float: left
                    margin: 7px 10px
            
            .menu-social
                display: block

                li
                    margin: 20px 10px
                    float: left

        .container
            display: block

        .page
            
            .present
                display: inline-block
                min-height: auto
                
                .text-present
                    text-align: center
                
                .text-present, 
                .globe,
                .terminal
                    top: 0
                    transform: none

                .back-end-text
                    background: transparent
                    color: #000
                    transition: none
                    -webkit-animation: none
                    pointer-events: none

                    &::after
                        content: ''
                        background: transparent

                .globe, 
                .terminal
                    display: none
            .about
                display: inline-block

@media only screen and (max-width: 768px)
    body
        nav
            flex-direction: column
            background: transparent
            a
                z-index: 1
            button
                display: block
                z-index: 1

            .menu-items, 
            .menu-social
                display: flex
                justify-content: center
                margin: 0 auto
                transition: all .5s ease-in-out
                -webkit-transition: all .5s ease-in-out
                -moz-transition: all .5s ease-in-out
                -o-transition: all .5s ease-in-out
                -ms-transition: all .5s ease-in-out
                position: relative
                width: 100%
                background: $colorDarkVersion
                max-height: 0
                top: -60px
                z-index: 0

                li
                    margin: 0

                    a
                        padding: 9px 11px
            .menu-social
                li
                    a
                        padding: 17px 14px
            
            &.show-menu
                .menu-items,
                .menu-social
                    left: 0
                    max-height: 200px
                    top: 0